body {
	margin: 0;
	padding: 0;
}

.chat-root {
	display: grid;
	height: 100vh;
	grid-template-areas:
		"rooms messages"
		"rooms message-field";
	grid-template-columns: max-content 1fr;
	grid-template-rows: 1fr max-content;
}

.rooms {
	grid-area: rooms;
	background: green;
}

.rooms__btn {}
.rooms__list {}

.messages {
	grid-area: messages;
	background: orange;
}

.message-field {
	grid-area: message-field;
	background: pink;
}

.error {
	color: red;
}

.hidden {
	display: none;
}
