body {
	margin: 0;
	padding: 0;
}

.chat-root {
	display: grid;
	height: 100vh;
	grid-template-areas:
		"rooms messages"
		"rooms message-field";
	grid-template-columns: max-content 1fr;
	grid-template-rows: 1fr max-content;
}

.rooms {
	grid-area: rooms;
	background: green;
}

.rooms__btn {}
.rooms__list {}

.messages {
	grid-area: messages;
	background: orange;
}

.message-field {
	grid-area: message-field;
	background: pink;
}

.message {
	display: grid;
	grid-template-areas:
		"sender timestamp"
		"content content";
	grid-template-columns: max-content 1fr;
	grid-template-rows: max-content max-content;
	column-gap: 1rem;
	margin: 1rem 1rem;
}
.message__sender {
	grid-area: sender;
}
.message__timestamp {
	grid-area: timestamp;
}
.message__content {
	grid-area: content;
}

.error {
	color: red;
}

.hidden {
	display: none;
}
